<!DOCTYPE html>
<html lang="end"> 
	<head>
		<title>Home</title>
		<style type="text/css">
			li {display: inline;}
		</style>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1>Home</h1>
		<ul>
				<li>
					<button id="about">
						<a href='/about'>about</a>
					</button>
				</li>
				<li>
					<button id="projects">
						<a href='/projects'>projects</a>
					</button>
				</li>
				<li>
					<button id="writing_journalism">
						<a href='/projects'>writing/journalism</a>
					</button>
				</li>
				<li>
					<button id="contact">
						<a href='/contact'>contact</a>
					</button>
				</li>
		</ul>
	</body>
</html>